@import "reset.css";

:root {
  --black: #000000;
  --gray: #343a40;
  --borderGray: #8a8a8a;
  --lightGray: #e9ecef;
  --oilBlue: #5783fc;
}

/* 스크린 사이즈 */
html,
body,
#root,
.App {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
}

/* 이외 공통사항 */
html {
  font-size: 62.5%;
}

body {
  max-width: 1024px;
  margin: auto;
  color: var(--gray);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
select {
  color: var(--gray);
}

select {
  -webkit-appearance: none; /* for chrome */
  -moz-appearance: none; /*for firefox*/
  appearance: none;
}

select::-ms-expand {
  display: none; /*for IE10,11*/
}
/* select에 화살표 이미지 백그라운드로 넣어야 함 */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
